/* src/index.css */

/* Body styles */
body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* Example background color */
    font-size: 16px; /* Base font size */
  }
  
  /* You can add other global styles here */
  